<component name="libraryTable">
  <library name="spring-web-4.0.0.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-web-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/standard.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/validation-api-1.1.0.CR1.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>