<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置自动扫描的包-->
    <context:component-scan base-package="org.hy"/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--da-default,annotation-->
    <mvc:default-servlet-handler/><!--use to visit static page-->
    <mvc:annotation-driven/><!--solve some configure before using @Controller-->

    <!--static resource mapping-->
    <mvc:resources mapping="/scripts/**" location="/WEB-INF/scripts/"/>

    <!--配置resolve转换器，转换locale值-->
    <bean class="org.springframework.web.servlet.i18n.SessionLocaleResolver" id="localeResolver"/>

    <!--配置国际化资源文件-->
    <bean class="org.springframework.context.support.ResourceBundleMessageSource" name="messageSource">
        <property name="basename" value="i18n"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!--配置-->
    <!--国际化请求拦截器，如果请求是基于（cookie/session）的必须配置-->
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
    </mvc:interceptors>

    <!--不通过handler，直接进行页面跳转的方法-->
    <mvc:view-controller path="/i18n" view-name="i18n"/>
    <mvc:view-controller path="/i18n2" view-name="i18n2"/>

    <!-- download/upload -->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="1024000"/>
    </bean>


</beans>